.woocommerce{
    .alert{
        &.alert-danger{
            ul{
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }
    }
    .form-row{
        display: block !important;
    }
}