.v-day{
    background: #B53471;
    color: #fff; 
    padding: 10px 0;

    .btn{
        background: #fff; 
        color: #B53471;

        &:hover{
            background: #B53471;
            color: #fff;
        }
    }
}
.announcement{
    color: #fff; 
    padding: 10px 0;

    

    &-success{  
        background: $theme;
        .btn{
            background: #fff; 
            color: $theme;
    
            &:hover{
                background: $theme;
                color: #fff;
            }
        }
    }
}
