#cura-cta{
    background-image: url(/wp-content/uploads/2020/10/cura-cta.jpg); 
    background-size: cover;
    background-position: center center; 
    padding: 100px 0;
    color: #fff;

    @include media-breakpoint-up(sm){
        background-position: 78% 50%; 
    }

    @include media-breakpoint-up(md){
        background-position: 72% 50%; 
    }

    @include media-breakpoint-up(lg){
        background-position: 59% 50%; 
    }

    @include media-breakpoint-up(xl){
        background-position: center center;
    }

    .cura-credit{
        padding: 0 0 0 15px;
        opacity: 0.6;

        .no-gutters{
            padding: 0;
        }
    
        .cura-logo{
            width:  80px;
            margin: 0 0 0 10px;
        }
    }

    .btn{
        color: #50827e; 
        background-color: #fff;
        padding: 0.375rem 2rem;
        font-size: 1.1rem;
    }
}