.dev{
    border: 1px solid red;
    &.container, 
    &.container-fluid,
    .container, 
    .container-fluid{
        border: 1px solid blue;
    }
    &.row, 
    .row, {
        border: 1px solid green;
    }
    &[class*="col-"], 
    [class*="col-"], {
        border: 1px solid black;
    }
}