footer{
    border-top: 1px solid rgba(0, 0, 0, 0.125);
    #footer{
        padding: 50px 0;
    
        img{
            width: 100%; 
            max-width: 600px;
        }
        a{
            color: #918f90;
            i{
                margin: 0 10px 0 0;
            }
        }
    }
    #credit{
        font-size: 0.9rem;
        color: #918f90;
        padding-bottom: 10px;
    }
}