header{
    position: relative; 
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.125);
    z-index: 10;

    .container-fluid{
        justify-content: center !important;
        position: relative;
    }

    .navbar-toggler{
        position: absolute;
        top: 11px; 
        left: 0px;
        outline: none !important;
        @include media-breakpoint-up(md){
            top: 15px; 
        }
        &::after{
            font-family: 'Font Awesome 5 Pro';
        }
        &[aria-expanded="false"]::after{
            content: "\f0c9";
        }
        &[aria-expanded="true"]::after{
            content: "\f00d";
        }
    }

    .navbar-brand {
        margin: 0;
        img {
            width: 150px;
            @include media-breakpoint-up(md){
                width: 200px;
            }
            @include media-breakpoint-up(lg){
                width: 230px;
            }
            @include media-breakpoint-up(xl){
                width: 300px;
            }
        }
    }
    
    .nav-item{
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
    }

    #navbar-right{
        
        @include media-breakpoint-up(lg){
            width: 230px;
        }
        @include media-breakpoint-up(xl){
            width: 300px;
        }

        .buttons{
            border: none; 
            background: transparent;
            padding: 0px;
            line-height: 1;
            margin: 0 20px 0 0;
            display: flex;

            a{
                display: block; 
                margin: 0 0 0 20px; 
                transition: 0.3s all ease;

                &:hover{
                    color: $theme !important;
                }
            }
        }
        .btn{
        
            @include media-breakpoint-up(lg){
                letter-spacing: 0px;
                padding: 0.375rem 0.8rem;
            }
            @include media-breakpoint-up(xl){
                letter-spacing: 2px;
                padding: 0.375rem 1.5rem;
            }
        }
    }
}