
#banner{
    min-height: 600px;
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center top;

    #banner-content{
        padding-top: 10rem;
    }
}

#steps{
    padding: 100px 0;

    .step{
        margin: 70px 0;

        img{
            width: 100px;
            height: 100px;
            margin: 0 0 20px 0;
        }
        .subtitle{
            font-size: 0.9rem;
            font-weight: 300;
        }
    }
}

#delivery-checker{
    padding: 100px 0;
    background-size: cover; 
    background-position: center;

    #delivery-map{
        display: none;
    }

    #input-wrapper{
        position: relative;

        input{
            width: 100%;
            padding: 10px 30px;
            border: none; 
            border-radius: 25px;
            outline: none;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        }

        button{
            position: absolute;
            top: 2px; 
            right: 2px;
            width: 44px; 
            height: 44px; 
            letter-spacing: normal !important;
            border-radius: 50%;
            padding: 7px 11px 5px 13px; 
            box-shadow: none !important
        }
    }
}

#gallery{
    padding: 100px 0;
    
    .glide{
        margin-top: 20px;

        .glide__slide{
            img{
                width: 100%;
                max-width: 500px;
            }
        }
    
        .glide__arrows{
            button{
                border-width: 1px;
                border-radius: 50%;
                width: 45px; 
                height: 45px;
                display: none;

                @include media-breakpoint-up(sm){
                    display: block; 
                }

                @include media-breakpoint-up(xl){
                    &.glide__arrow--left{
                        left: auto; 
                        right: 100%;
                        margin: 0 30px 0 0; 
                    }
        
                    &.glide__arrow--right{
                        right: auto; 
                        left: 100%;
                        margin: 0 0 0 30px; 
                    }
                }
            }
        }
    
        .glide__bullets{
            bottom: auto; 
            top: 100%;
        }
    }
}