#order-now{
    padding: 90px 0;

    .step{
        margin: 0 0 50px 0;

        .info{
            max-width: 540px;
        }
        
        .options{
            display: flex; 
            flex-wrap: wrap;
            justify-content: center;
        
            @include media-breakpoint-up(md){
                justify-content: flex-start;
            }

            .option{
                margin: 0 0 10px 0;
        
                @include media-breakpoint-up(sm){
                    margin: 0;
                }

                input{
                    display: none;
                    &:checked + label{
                        color: #fff;
                        background-color: theme-color('success');
                        border-color: theme-color('success');
                    }
                }
                label{
                    cursor: pointer !important;
                    transition: 0.3s all ease;
                    &:hover{
                        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                    }
                }
            }

            &.options-meals{
                flex-wrap: wrap;

                .option{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 2px solid #e3e3e3;
                    padding: 10px 15px;
            
                    @include media-breakpoint-up(md){
                        flex-wrap: nowrap;
                    }
                    .price{
                        font-weight: 700; 
                        color: theme-color('success');
                    }

                    .content{ 
                        color: #838182;
                        padding: 0 10px 0 0;
                        width: 100%;
            
                        @include media-breakpoint-up(md){
                            width: auto;
                        }

                        .title{
                            text-transform: uppercase;
                            letter-spacing: 1px;
                            font-weight: 700;
                            display: block;
            
                            @include media-breakpoint-up(sm){
                                display: flex;
                            }

                            & > div{
                                .flag{
                                    background: theme-color('theme'); 
                                    color: #fff;
                                    line-height: 1;
                                    padding: 2px 7px;
                                    border-radius: 4px;
                                    font-size: 0.9rem;
                                    text-transform: none;

                                    @include media-breakpoint-up(sm){
                                        margin: 0 0 0 10px;
                                    }
                                }
                            }
                        }
                        .description{
                            line-height: 1.3;
                        }
                    }
                    .controls{
                        width: 100%;
                        text-align: right;
                        display: flex;
                        align-items: center;
            
                        @include media-breakpoint-up(md){
                            width: auto;
                        }
                        .control-buttons{
                            flex-grow: 1;
                        }
                        button{
                            width: 170px;
                            font-size: 0.9rem;
                            letter-spacing: 1px;
                        }
                        .qty-controls{
                            width: 170px; 
                            display: flex;
                            margin: 0 0 0 auto;
                            button{
                                width: 40px;
                                padding: 6px;
                                outline: none;
                                border: 2px solid #707070;
                                color: #999999;
                                background: transparent;
                                transition: 0.3s all ease;
                                &:hover{
                                    background: rgba(153, 153, 153, 0.3);
                                }
                                &:first-child{
                                    border-top-left-radius: 30px;
                                    border-bottom-left-radius: 30px;
                                }
                                &:last-child{
                                    border-top-right-radius: 30px;
                                    border-bottom-right-radius: 30px;
                                }
                            }
                            .meal-quantity{
                                flex-grow: 1;
                                text-align: center;
                                padding: 5px;
                                border-top: 2px solid #707070;
                                border-bottom: 2px solid #707070;
                                color: #999999;
                            }
                        }
                    }
                }
            }

            &.options-method{

                label{
                    width: 150px;
                }
            }
            &.options-quantity{ 
                
                .option{
                    width: 100%; 
            
                    @include media-breakpoint-up(sm){
                        width: auto;
                    }

                    label{
                        width: 100%;
            
                        @include media-breakpoint-up(sm){
                            width: 150px;
                        }
                    }
                }
            }
            &.options-day{
                .option{
                    width: 100%; 
            
                    @include media-breakpoint-up(sm){
                        width: auto;
                    }

                    label{
                        width: 100%;
            
                        @include media-breakpoint-up(sm){
                            width: 180px;
                        }
                        .date{
                            font-size: 0.8rem;
                            font-weight: 400 !important; 
                            letter-spacing: 0px !important;
                        }
                    }
                }
            }
            &.options-time{
                .option{
                    width: 100%; 
            
                    @include media-breakpoint-up(sm){
                        width: auto;
                    }

                    label{
                        width: 100%;
            
                        @include media-breakpoint-up(sm){
                            width: 150px;
                        }
                    }
                }
            }

            &.options-day, 
            &.options-quantity, 
            &.options-method, 
            &.options-time{
                .option{
                    label{
                        padding: 10px; 
                        border-radius: 4px; 
                        border: 2px solid rgba(0, 0, 0, 0.4);
                        color: rgba(0, 0, 0, 0.4);
                        text-align: center; 
                        font-weight: 700; 
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        margin: 0 10px 0 0;
                    }
                }
            }
        }
    }
}
#delivery-map, 
#pick-up-map{
    height: 350px;
}
#review-order{
    .left-to-select{
        background: theme-color('danger'); 
        color: #fff; 
        font-weight: 700;
        text-align: center;
        border-radius: 4px;
    }
    .total{
        background: #FFFA79;
        display: inline-block;
        padding: 5px;
    }
}