#page-title{
    background-size: cover;
    background-position: center;
    height: 300px;

    h1{
        text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    }
}
#page-content{
    padding: 75px 0;

    form.wpforms-form{
        .btn{
            margin: 20px 0 0;
        }
        .wpforms-required-label{
            color: theme-color('danger');
        }
        label.wpforms-error{
            background: theme-color('danger');
            color: #fff; 
            font-size: 0.8rem; 
            margin: 0; 
            padding: 0 3px; 
            border-radius: 4px;
        }
    }
}