// Compile "main.scss" as "css/main.css"

/**
 * Custom Bootstrap Variables
 */
$theme: #cc333b;
$theme-colors: (
	"theme": $theme, 
	"secondary": #646162,
	"dark": #231F20, 
	"light": #fff, 
	"instagram": #c32aa3, 
	"facebook": #1877f2
);

// Links 
$link-color: $theme;

// Body
$body-color: #231F20;

// Fonts
$font-size-base: 1rem;
$line-height-base: 1.75;

$font-family-sans-serif: 'Montserrat', sans-serif;

// Headings
$h1-font-size: $font-size-base * 2.8;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base * 1;

$headings-font-weight: 700;

// Input 
$input-btn-padding-x-lg: 2rem;

// Buttons
$btn-font-weight: 700;
$btn-border-radius: 30px;
$btn-border-radius-lg: 30px;
$btn-border-radius-sm: 25px;

// Navbar
$navbar-nav-link-padding-x: 20px;
$navbar-light-color: rgba(35, 31, 32, 0.7);
$navbar-light-toggler-border-color: transparent;

// Navs
$nav-pills-link-active-bg: $theme;

/** 
 * Imports
 */ 
// Bootstrap
@import "./scss/bootstrap.scss";
// Animate on Scroll
@import "../node_modules/aos/src/sass/aos.scss";
// Glide
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.core.scss";
@import "../node_modules/@glidejs/glide/src/assets/sass/glide.theme.scss";

/**
 * General
 */

img {
	vertical-align: middle;
}
.text-underline{
	text-decoration: underline;
}

.btn{
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3) !important;
	text-transform: uppercase;
	letter-spacing: 2px;

	&.btn-lg{
		letter-spacing: 2px;
	}
	&[class*="btn-outline-"]{
		box-shadow: none !important;
	}
}

h1{
	&.styled{
		position: relative; 
		padding: 0 0 10px 0;
		margin: 0 0 30px 0;

		&::after{
			content: ""; 
			position: absolute; 
			height: 5px;
			bottom: 0; 
			left: 0; 
			width: 70px;
			background-color: theme-color("theme");
		}
	}
}

#main{
	overflow: hidden;
    position: relative; 

    #countdown{
        position: absolute;
        top: 0; 
        left: 0;
        right: 0;
        
        @include media-breakpoint-up(lg){
			letter-spacing: 2px;
        }
    }
}

@import "./scss/announcement.scss";
@import "./scss/header.scss";
@import "./scss/footer.scss";
@import "./scss/page.scss";
@import "./scss/homepage.scss";
@import "./scss/cura.scss";
@import "./scss/account.scss";
@import "./scss/order-now.scss";
@import "./scss/dev.scss";
@import "./scss/woocommerce.scss";
@import "./scss/wordpress.scss";